@import url("owl.css");

html {
    font-family: Verdana, Arial, sans-serif;
    overflow-y: scroll;
}

body {
    background-color: #f1f5f9;
    font-size: 9pt;
    padding: 5px;
    width: 90%; margin-left: auto; margin-right: auto;
}

img {
    border: none;
}

img.button {
    position: relative;
    top: 8px;
}

div {
    margin-top: 0;
}

div.codebox, div.error, div.message {
    border: solid 1px #c7cfd5;
    background: #ffffff;
    clear: both;
    overflow: hidden;
    position: relative; /* force everything to be contained and positioned inside */
    padding: 5px;
    margin-bottom: 12px;
    -moz-border-radius: 6px; -webkit-border-radius: 6px;
}

div.message {
    background: #f9f9bb;
    margin-bottom: 32px;
    padding-top: 0; padding-bottom: 0;
}

div.error {
    border-color: #f94444;
    overflow: auto;
}

div.message p{
    margin-bottom: 0;
}

div.message a{
    font-weight: bolder;
    color: blue;
}

div.imageHolder{
    overflow: auto;
    text-align: center;
    margin-bottom: 12px;
}

#look_and_feel {
    float: left;
    width: 45%;
}

#model {
    float: right;
    width: 45%;
}

#look_and_feel table,
#model table{
    width: 100%;
}

#look_and_feel select,
#model select{
    width: 80%;
}

#look_and_feel input[type=text],
#model input[type=text]{
    width: 80%; margin-right: 10px;
}

td.key{
    width: 150px; text-align: right;
}

#queryform {background: #ddddff; padding: 5px;}
#most_used_classes {text-align: center;}

h1 {font-size: 16pt;
    font-weight: bold;
    display: inline;
    margin-top: 0; margin-bottom: 12px;
}

h2, h3, h4 {
    font-weight: normal;
}

h3 {font-size: 10pt;
    color: #444444;
    margin-left: 12px; margin-top: 6px; margin-bottom: 12px;
}

h4 {
    font-size: 10pt;
    margin-top: 0; margin-bottom: 3px; margin-left: 3px;
    display: inline;
}

h2, .owlselector h4 {
    font-size: 16pt;
    display: inline;
    margin-top: 0; margin-bottom: 12px; margin-left: 6px; margin-right: 6px;
}

#menu{
    background-color: #ffffff;
    padding: 5px; padding-bottom: 10px;
    border: solid 1px #c7cfd5;
}
#menu a{font-weight: bolder;}
#menu a:hover img{text-decoration: none;}

#signout img{
}

#options{clear: right; float: right;}

#activeOnt {
    display: inline;
    position: relative;
    top: -3px;
}

#tabs {
    color: #aaaacc;
    margin-bottom: 16px;
}
#tabs a, #tabs span.currentpage {
    color: #000000;
    background-color: #ffffff;
    border: solid 1px #c7cfd5;
    border-top: none;
    padding: 2px;
}

div.owlselector {
    float: left;
    width: 30%;
    margin-right: 5%;
    padding: 0;
}

div.summary, #resultsForm {
    width: 65%;
    clear: right;
    float: right;
    overflow-x: hidden;
}

div.cloud{
    text-align: center;
}

.codebox{
    margin-bottom: 12px;    
}

.owlselector .codebox {
    height: 500px;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

/* we want links in literals to look like links*/
.literal a {
    color: blue;
    text-decoration: underline;
}

a.subsexpand {
    color: #555555;
    font-size: 7pt;
    text-decoration: underline;
    line-height: 180%;
}

a.help {float: right;}

a.permalink {font-size: smaller;}

ul {margin-top: 1px; margin-bottom: 1px; margin-left: 1.5em; padding-left: 0.5em;}
ul.minihierarchy {list-style-type: none; margin-left: 0;}
ul.minihierarchy ul {list-style-type: none;}
ul.minihierarchy li {white-space: nowrap; color: black;}

li {margin-bottom: 0; margin-top: 2px;}

ul.minihierarchy li{}
ul.minihierarchy li.expandable {}

p.footer {
    font-size: 7pt;
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
    clear: both;
}

table {border-collapse: collapse}
td, tr {font-size: 9pt; border: none; vertical-align: top; padding: 3px;}
th {background-color:black; color:white; text-align: left;}

table.ontologytable{
    margin-bottom: 10px;
    width: 100%;
}
td.ontologyname{
}
td.location{
}
td.actions{
}
input.location{
    width:100%;
}

.disabled {background-color: #bbbbdd;}
.warn {color: #ff0000;}

form.autocomplete {
    display: inline;
}

#findForm{
    float: right;
    margin-bottom: 10px;
}

#load_ontologies div.codebox{
    height: 90px; /*easy way to force floating contents to fit */
}

form#load {
    float: left;
    margin-left: 5%;
    width: 45%;
}

form#bookmarks{
    float: right;
    width: 45%;
}

pre {
    font-family: Verdana, Arial, sans-serif;
}

#find {
    width: 200px;
}

#dlQuery{
    width: 90%;
    height: 200px;
    display: block;
    margin-bottom: 10px;
    margin-left: 5px; margin-right: 5px;
}

span.expandable{
    cursor: pointer;
}

a.urlOption{
    color: blue;
    font-size: smaller;
}

img.min {
    display: inline;
    float: left;
    margin-left: 6px; margin-right: 3px;
    cursor: pointer;
    vertical-align: bottom;
}

div.googlemaps{
    margin-left: auto;
    margin-right: auto;
    width: 425px; height: 350px;
    margin-bottom: 12px;
}

img.thumb{
    vertical-align: top;
    margin-left: 6px;
}