/* 
================================================
autosuggest, inquisitor style
================================================
*/

body{
}


div.autosuggest
{
	position: absolute;
	padding: 0 0 0 0;
    border: solid 1px #000044;
}

div.autosuggest div.as_header,
div.autosuggest div.as_footer
{
	position: relative;
	height: 6px;
	padding: 0 6px;
	overflow: hidden;
}

div.autosuggest div.as_header div.as_corner,
div.autosuggest div.as_footer div.as_corner
{
	position: absolute;
	top: 20px;
	left: 0;
	height: 6px;
	width: 6px;
}

div.autosuggest div.as_header div.as_bar,
div.autosuggest div.as_footer div.as_bar
{
	height: 6px;
	overflow: hidden;
}

div.autosuggest ul
{
	list-style: none;
	margin: 0 0 -4px 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
}

div.autosuggest ul li
{
	color: #222222;
    font-size: 8pt;
    padding: 0;
    line-height: 9px;
    margin: 0 4px 4px;
	text-align: left;
}

div.autosuggest ul li a
{
	color: #222222;
	display: block;
	text-decoration: none;
	position: relative;
	padding: 0;
	width: 100%;
}
div.autosuggest ul li a:hover
{
	background-color: #444;
}
div.autosuggest ul li.as_highlight a:hover
{
	background-color: #ddddff;
}

div.autosuggest ul li a span
{
	display: block;
	padding: 3px 6px;
/*	font-weight: bold;*/
}

div.autosuggest ul li a span small
{
	font-weight: normal;
	color: #999;
}

div.autosuggest ul li.as_highlight a span small
{
	color: #ccc;
}

div.autosuggest ul li.as_highlight a
{
	background-color: #ddddff;
}

div.autosuggest ul li.as_highlight a span
{
	background-position: bottom left;
	background-repeat: no-repeat;
}

div.autosuggest ul li a .tl,
div.autosuggest ul li a .tr
{
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}
div.autosuggest ul li a .tr
{
	right: 0;
}

div.autosuggest ul li.as_highlight a .tl
{
	left: 0;
}

div.autosuggest ul li.as_highlight a .tr
{
	right: 0;
}

div.autosuggest ul li.as_warning
{
	font-weight: bold;
	text-align: center;
}

div.autosuggest ul em
{
    font-style: normal;
    font-weight: bolder;
	color: #11aa11;
}