
.literal {
    color: green;
}

.annotation-uri {
    color: gray;
}

.ontology-uri {
    color: #990099;
}

.active-ontology-uri {
    color: #330033;
}

.active-entity {
    color: #00008b;
    font-weight: bold;
}

.deprecated {
    color: #222222;
    text-decoration: line-through;
}

/* keywords - default cyan */
.keyword {
    color: #00B2B2;
    font-weight: bolder;
}

.comment {
    color: green;
}

.some, .only, .value, .min, .max, .exactly {
    color: #B200B2;
    font-weight:bolder;
}
