// general
usage, org.coode.html.doclet.UsageDoclet
annotations, org.coode.html.doclet.AnnotationsDoclet
bookmarks, org.coode.html.doclet.BookmarksDoclet
cloud, org.coode.html.doclet.CloudDoclet

// classes
classes.summary, org.coode.html.doclet.OWLClassSummaryDoclet
classes.supers, org.coode.html.doclet.SuperclassesDoclet
classes.equivalents, org.coode.html.doclet.AssertedEquivalentsDoclet
classes.disjoints, org.coode.html.doclet.DisjointsDoclet
classes.members, org.coode.html.doclet.MembersDoclet

// object properties
objectproperties.summary, org.coode.html.doclet.OWLObjectPropertySummaryDoclet
objectproperties.supers, org.coode.html.doclet.AssertedSuperpropertiesDoclet
objectproperties.equivalents, org.coode.html.doclet.AssertedEquivpropertiesDoclet
objectproperties.disjoints, org.coode.html.doclet.DisjointPropertiesDoclet
objectproperties.domains, org.coode.html.doclet.DomainsDoclet
objectproperties.ranges, org.coode.html.doclet.RangesDoclet
objectproperties.inverses, org.coode.html.doclet.InversesDoclet
objectproperties.characteristics, org.coode.html.doclet.PropertyCharacteristicsDoclet

// data properties
dataproperties.summary, org.coode.html.doclet.OWLDataPropertySummaryDoclet
dataproperties.supers, org.coode.html.doclet.AssertedSuperpropertiesDoclet
dataproperties.equivalents, org.coode.html.doclet.AssertedEquivpropertiesDoclet
dataproperties.disjoints, org.coode.html.doclet.DisjointPropertiesDoclet
dataproperties.domains, org.coode.html.doclet.DomainsDoclet
dataproperties.ranges, org.coode.html.doclet.RangesDoclet
dataproperties.inverses, org.coode.html.doclet.InversesDoclet
dataproperties.characteristics, org.coode.html.doclet.PropertyCharacteristicsDoclet

// annotation properties
annotationproperties.summary, org.coode.html.doclet.OWLAnnotationPropertySummaryDoclet
annotationproperties.domains, org.coode.html.doclet.AnnotationPropertyDomainsDoclet
annotationproperties.ranges, org.coode.html.doclet.AnnotationPropertyRangesDoclet
annotationproperties.supers, org.coode.html.doclet.AnnotationPropertySuperPropertiesDoclet

// individuals
individuals.summary, org.coode.html.doclet.OWLIndividualSummaryDoclet
individuals.different, org.coode.html.doclet.DifferentFromDoclet
individuals.same, org.coode.html.doclet.SameAsDoclet
individuals.types, org.coode.html.doclet.TypesDoclet

// datatypes
datatypes.summary, org.coode.html.doclet.OWLDatatypeSummaryDoclet
datatypes.definition, org.coode.html.doclet.DatatypeDefinitionDoclet

// ontologies
ontologies.summary, org.coode.html.doclet.OWLOntologySummaryDoclet
ontologies.annotations, org.coode.html.doclet.OntologyAnnotationsDoclet
ontologies.contents, org.coode.html.doclet.OntologyContentsDoclet
ontologies.imports, org.coode.html.doclet.OntologyImportsDoclet
ontologies.title, org.coode.html.doclet.OntologyTitleDoclet

// TODO tidy up so we can get this
//hierarchy, org.coode.html.doclet.HierarchyDoclet
