// general
usage, org.coode.html.doclet.UsageDoclet
annotations, org.coode.html.doclet.AnnotationsDoclet
bookmarks, org.coode.html.doclet.BookmarksDoclet
cloud, org.coode.html.doclet.CloudDoclet

// annotation properties
annotationproperty.summary, org.coode.html.doclet.OWLAnnotationPropertySummaryDoclet
annotationproperty.domains, org.coode.html.doclet.AnnotationPropertyDomainsDoclet
annotationproperty.ranges, org.coode.html.doclet.AnnotationPropertyRangesDoclet
annotationproperty.supers, org.coode.html.doclet.AnnotationPropertySuperPropertiesDoclet

// classes
class.summary, org.coode.html.doclet.OWLClassSummaryDoclet
class.supers, org.coode.html.doclet.SuperclassesDoclet
class.equivalents, org.coode.html.doclet.AssertedEquivalentsDoclet
class.disjoints, org.coode.html.doclet.DisjointsDoclet
class.members, org.coode.html.doclet.MembersDoclet

// properties
objectproperty.summary, org.coode.html.doclet.OWLObjectPropertySummaryDoclet
dataproperty.summary, org.coode.html.doclet.OWLDataPropertySummaryDoclet
property.supers, org.coode.html.doclet.AssertedSuperpropertiesDoclet
property.equivalents, org.coode.html.doclet.AssertedEquivpropertiesDoclet
property.disjoints, org.coode.html.doclet.DisjointPropertiesDoclet
property.domains, org.coode.html.doclet.DomainsDoclet
property.ranges, org.coode.html.doclet.RangesDoclet
property.inverses, org.coode.html.doclet.InversesDoclet
property.characteristics, org.coode.html.doclet.PropertyCharacteristicsDoclet

// individuals
individual.summary, org.coode.html.doclet.OWLIndividualSummaryDoclet
individual.different, org.coode.html.doclet.DifferentFromDoclet
individual.same, org.coode.html.doclet.SameAsDoclet
individual.types, org.coode.html.doclet.TypesDoclet

// datatypes
datatype.summary, org.coode.html.doclet.OWLDatatypeSummaryDoclet
datatype.definition, org.coode.html.doclet.DatatypeDefinitionDoclet

// ontologies
ontology.summary, org.coode.html.doclet.OWLOntologySummaryDoclet
ontology.annotations, org.coode.html.doclet.OntologyAnnotationsDoclet
ontology.contents, org.coode.html.doclet.OntologyContentsDoclet
ontology.imports, org.coode.html.doclet.OntologyImportsDoclet
ontology.title, org.coode.html.doclet.OntologyTitleDoclet

// TODO tidy up so we can get this
//hierarchy, org.coode.html.doclet.HierarchyDoclet
